Binaries

DerivedDataCache

Intermediate

Saved

Content/AnimStarterPack
Content/Blueprints
Content/FirstPerson
Content/FirstPersonCPP
Content/Geometry
Content/Levels
Content/Mannequin
Content/NPC
Content/Player/Animations
Content/Player/Audio
Content/Player/Character
Content/Player/Meshes
Content/Player/Textures
Content/ThirdPerson
Content/ThirdPersonCPP
Content/Trash
Content/Weapons
Content/Static/NPC/AI
Content/Static/NPC/Animations
Content/Static/NPC/Behaviour
Content/Static/Player/Animations
Content/Static/Player/Behaviour
Content/Static/Weapons/FPWeapons/Behaviour
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
*.VC.db

*.opensdf

*.opendb

*.sdf

*.sln

*.suo

*.xcodeproj

*.xcworkspace
